{% extends 'sep/base.html' %}

{% load static %}

{% block content %}

    <h1>403 - Denied!</h1>

    <div style="height: 50%; width: 50%; margin:auto">
    <div class="tenor-gif-embed" data-postid="4117266" data-share-method="host" data-width="100%" data-aspect-ratio="2.0">
        <a href="https://tenor.com/view/borat-sacha-baron-cohen-you-will-never-get-this-happy-smile-gif-4117266">You Will Never Get This - Borat GIF</a> from <a href="https://tenor.com/search/borat-gifs">Borat GIFs</a>
    </div>
    
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    </div>

{% endblock %}
